li a:hover {
        background-color: white;
}

.divPrincipal
{
background-color: #f0ad4e;
margin-bottom: 30px;
padding: 10px 15px;
}
.colorgreen
{
  color: green;
}
.colorblue
{
  color: blue;
}
.colorred
{
  color: red;
}
